 @page
@model RegisterModel
@{
    ViewData["Title"] = "Sample Claim and Policy Based Authorization";
}

<h1>@ViewData["Title"]</h1>

<div id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post"  enctype="multipart/form-data">
    <div>
        <h2><em>Role based authorization samples:</em></h2>
        <ul>
            <li>
                <a href="/RoleAuthorization/OnlyAdminAccess">Role-Based Authorization OnlyAdminAccess Access Page</a>
            </li>

            <li>
                <a href="/RoleAuthorization/OnlyUserAccess">Role-Based Authorization OnlyUserAccess Access Page</a>
            </li>
            <li>
                <a href="/RoleAuthorization/OnlyHRAccess">Role-Based Authorization OnlyHRAccess Access Page</a>
            </li>
           </ul>
        <h2><em>Claim and Custom Policy based authorization samples:</em></h2>
        <ul>
            <li>
                <a href="/ClaimnPolicyBased/TestMethod1">Claim-Based Authorization (claim: "IsAdmin = true") Access Page</a>
            </li>
            <li>
                <a href="/ClaimnPolicyBased/TestMethod3">Role-based Claim Authorization</a>
            </li>
            <li>
                <a href="/ClaimnPolicyBased/TestMethod4">Policy Based Authorization (Minimum time Spend:365)</a>
            </li>
            <li>
                <a href="/ClaimnPolicyBased/TestMethod5">Multiple Handlers for single requirement</a>
            </li>
            <li>
                <a href="/ClaimnPolicyBased/TestMethod6">Using RequireAssertion</a>
            </li>
             <li>
                <a href="/ClaimnPolicyBased/TestMethod7">RunTimePolicyParametersetting(180)</a>
             </li>
              <li>
                <a href="/ClaimnPolicyBased/TestMethod8">RunTimePolicyParametersetting(365)</a>
             </li>
             <li>
                <a href="/ClaimnPolicyBased/TestMethod9">RunTimePolicyParametersetting(10)</a>
            </li>
</ul>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
} 